/*===== RESET =====*/
*{
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	font-family: sans-serif;
	outline: none;
	box-sizing: border-box;
}

body {
	background-color: #babab8;
	display: flex;
	justify-content: center;
	
}

/* Calculadora */
.calculator {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #babab8;
	position: absolute;
	bottom: 0px;
}

/*Display*/
header{
	width: 100%;
	
}

.display {
	padding: 100px 20px 20px 5px;
	width: 100%;
	font-size: 2.5rem;
	text-align: right;
}

/* Container */
.container {
	width: 100%;
	padding-bottom: 30px;
}


/* Botões */
.row {
	width: 100%;
	display: flex;
	justify-content: center;
}

.row .btn {
	float: left;
	width: 24%;
	height: 60px;
	margin-right: 2px;
	margin-bottom: 2px;
	cursor: pointer;
}

.row .btn:last-child{
	margin-right: 0;
}

.row:last-child .btn{
	margin-bottom: 0;
}

.btn-others {
	background-color: #d6d6d4;
}

.btn-num {
	background-color: #f1f1f1;
	font-weight: 600;
}

.btn:active {
	background-color: #a9a9a7;
	border: 1px solid #878787;
}

.row .btn:last-child:active {
	background-color: #0062b1;
	border-color: #06508b;
}

/* Responsividade*/
@media screen and (min-width: 500px){
	body {
		background-color: #999997;
	}
	.calculator{
		position: static;
		width: 500px;
		margin-top: 70px;
	}
}
